.Trap {
    display:inline-block;
    margin: 0 0 0 20px;
    padding: 0 3px 0 3px;
    transform: skew(-30deg);
    background-color: #35E7DC;
    border: 4px solid #000000;
    box-shadow: 4px 4px 6px 1px #a270ff;
}

.Trap input {
    outline: none;
    background: none;
    border: none;

    width: 300px;
    padding: 5px 30px;

    transform: skew(30deg);
    font-size: 24px;
    font-family: 'Courier', 'Helvetica Neue', arial, sans-serif;
}