html,
body {
  height: 100%;
  /* width: 30vw; */
  padding: 0;
  margin: 0 auto;
  background: #B2B2B2;
  font-family: 'Courier', 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* box-sizing: border-box; */
}

