.SearchButton {
    border: none;
    background: none;
    cursor: pointer;
    transform: rotate(0);
    /* transition: 0.3s ease; */
    /* position: fixed;
    top: 8px;
    right: 24px; */
}

/* .SearchButton:hover { */
    /* transform: rotate(180deg); */
/* } */
